'name': 'Vue Component'
'scopeName': 'text.html.basic'
'fileTypes': [
  'vue'
  'vue.html'
  'html'
]
'firstLineMatch': '&lt;!(?i:DOCTYPE)|&lt;(?i:html)|&lt;\?(?i:php)'
'foldingStartMarker': '(?x)
(&lt;(?i:head|body|table|thead|tbody|tfoot|tr|div|select|fieldset|style|script|ul|ol|li|form|dl)\b.*?&gt;
|&lt;!--(?!.*--\s*&gt;)
|^&lt;!--\ \#tminclude\ (?&gt;.*?--&gt;)$
|&lt;\?(?:php)?.*\b(if|for(each)?|while)\b.+:
|\{\{?(if|foreach|capture|literal|foreach|php|section|strip)
|\{\s*($|\?&gt;\s*$|//|/\*(.*\*/\s*$|(?!.*?\*/)))
)'
'foldingStopMarker': '(?x)
(&lt;/(?i:head|body|table|thead|tbody|tfoot|tr|div|select|fieldset|style|script|ul|ol|li|form|dl)&gt;
|^(?!.*?&lt;!--).*?--\s*&gt;
|^&lt;!--\ end\ tminclude\ --&gt;$
|&lt;\?(?:php)?.*\bend(if|for(each)?|while)\b
|\{\{?/(if|foreach|capture|literal|foreach|php|section|strip)
|^[^{]*\}
)'
'keyEquivalent': '^~H'
'patterns': [
  {
    'endCaptures':
      '1': 'name': 'punctuation.definition.tag.end.html'
      '2': 'name': 'punctuation.definition.tag.begin.html meta.scope.between-tag-pair.html'
      '3': 'name': 'punctuation.definition.tag.begin.html'
      '4': 'name': 'entity.name.tag.html'
      '5': 'name': 'punctuation.definition.tag.end.html'
    'patterns': [ { 'include': '#tag-stuff' } ]
    'beginCaptures':
      '1': 'name': 'punctuation.definition.tag.begin.html'
      '2': 'name': 'entity.name.tag.html'
    'begin': '(&lt;)([a-zA-Z0-9:]++)(?=[^&gt;]*&gt;&lt;/\\2&gt;)'
    'name': 'meta.tag.any.html'
    'end': '(&gt;)(&lt;)(/)(\\2)(&gt;)'
  }
  {
    'captures':
      '1': 'name': 'punctuation.definition.tag.html'
      '2': 'name': 'entity.name.tag.xml.html'
    'patterns': [
      { 'include': '#tag-generic-attribute' }
      { 'include': '#string-double-quoted' }
      { 'include': '#string-single-quoted' }
    ]
    'begin': '(&lt;\?)(xml) '
    'name': 'meta.tag.preprocessor.xml.html'
    'end': '(\?&gt;)'
  }
  {
    'captures': '0': 'name': 'punctuation.definition.comment.html'
    'patterns': [
      {
        'name': 'invalid.illegal.bad-comments-or-CDATA.html'
        'match': '--'
      }
      { 'include': '#embedded-code' }
    ]
    'begin': '&lt;!--'
    'name': 'comment.block.html'
    'end': '--\s*&gt;'
  }
  {
    'captures': '0': 'name': 'punctuation.definition.tag.html'
    'patterns': [
      {
        'captures': '1': 'name': 'entity.name.tag.doctype.html'
        'patterns': [ {
          'name': 'string.quoted.double.doctype.identifiers-and-DTDs.html'
          'match': '"[^"&gt;]*"'
        } ]
        'begin': '(?i:DOCTYPE)'
        'name': 'meta.tag.sgml.doctype.html'
        'end': '(?=&gt;)'
      }
      {
        'begin': '\[CDATA\['
        'name': 'constant.other.inline-data.html'
        'end': ']](?=&gt;)'
      }
      {
        'name': 'invalid.illegal.bad-comments-or-CDATA.html'
        'match': '(\s*)(?!--|>)\S(\s*)'
      }
    ]
    'begin': '&lt;!'
    'name': 'meta.tag.sgml.html'
    'end': '&gt;'
  }
  {
    'captures':
      '1': 'name': 'punctuation.definition.tag.begin.html'
      '2': 'name': 'entity.name.tag.style.html'
      '3': 'name': 'punctuation.definition.tag.html'
    'patterns': [
      { 'include': '#tag-stuff' }
      {
        'patterns': [ { 'include': 'text.jade' } ]
        'begin': '(&gt;)'
        'end': '(?=&lt;/(?i:template))'
        'beginCaptures': '1': 'name': 'punctuation.definition.tag.end.html'
      }
    ]
    'begin': '(?:^\s+)?(&lt;)((?i:template))\b(?=[^&gt;]*lang="jade")'
    'name': 'text.jade.embedded.html'
    'end': '(&lt;/)((?i:template))(&gt;)(?:\s*\n)?'
  }
  {
    'captures':
      '1': 'name': 'punctuation.definition.tag.begin.html'
      '2': 'name': 'entity.name.tag.style.html'
      '3': 'name': 'punctuation.definition.tag.html'
    'patterns': [
      { 'include': '#tag-stuff' }
      {
        'patterns': [ { 'include': 'source.stylus' } ]
        'begin': '(&gt;)'
        'end': '(?=&lt;/(?i:style))'
        'beginCaptures': '1': 'name': 'punctuation.definition.tag.html'
      }
    ]
    'begin': '(?:^\s+)?(&lt;)((?i:style))\b(?=[^&gt;]*lang="stylus")'
    'name': 'source.vue-stylus.embedded.html'
    'end': '(&lt;/)((?i:style))(&gt;)(?:\s*\n)?'
  }
  {
    'captures':
      '1': 'name': 'punctuation.definition.tag.begin.html'
      '2': 'name': 'entity.name.tag.style.html'
      '3': 'name': 'punctuation.definition.tag.html'
    'patterns': [
      { 'include': '#tag-stuff' }
      {
        'patterns': [ { 'include': 'source.sass' } ]
        'begin': '(&gt;)'
        'end': '(?=&lt;/(?i:style))'
        'beginCaptures': '1': 'name': 'punctuation.definition.tag.end.html'
      }
    ]
    'begin': '(?:^\s+)?(&lt;)((?i:style))\b(?=[^&gt;]*lang="(?:s(a|c)ss)")'
    'name': 'source.sass.embedded.html'
    'end': '(&lt;/)((?i:style))(&gt;)(?:\s*\n)?'
  }
  {
    'captures':
      '1': 'name': 'punctuation.definition.tag.begin.html'
      '2': 'name': 'entity.name.tag.style.html'
      '3': 'name': 'punctuation.definition.tag.html'
    'patterns': [
      { 'include': '#tag-stuff' }
      {
        'patterns': [ { 'include': 'source.less' } ]
        'begin': '(&gt;)'
        'end': '(?=&lt;/(?i:style))'
        'beginCaptures': '1': 'name': 'punctuation.definition.tag.end.html'
      }
    ]
    'begin': '(?:^\s+)?(&lt;)((?i:style))\b(?=[^&gt;]*lang="less")'
    'name': 'source.less.embedded.html'
    'end': '(&lt;/)((?i:style))(&gt;)(?:\s*\n)?'
  }
  {
    'captures':
      '1': 'name': 'punctuation.definition.tag.begin.html'
      '2': 'name': 'entity.name.tag.style.html'
      '3': 'name': 'punctuation.definition.tag.html'
    'patterns': [
      { 'include': '#tag-stuff' }
      {
        'patterns': [
          { 'include': 'source.css' }
        ]
        'begin': '(&gt;)'
        'end': '(?=&lt;/(?i:style))'
        'beginCaptures': '1': 'name': 'punctuation.definition.tag.end.html'
      }
    ]
    'begin': '(?:^\s+)?(&lt;)((?i:style))\b(?![^&gt;]*/&gt;)'
    'name': 'source.css.embedded.html'
    'end': '(&lt;/)((?i:style))(&gt;)(?:\s*\n)?'
  }
  {
    'endCaptures': '2': 'name': 'punctuation.definition.tag.html'
    'patterns': [
      { 'include': '#tag-stuff' }
      {
        'captures':
          '1': 'name': 'punctuation.definition.tag.begin.html'
          '2': 'name': 'entity.name.tag.script.html'
        'patterns': [ { 'include': 'source.coffee' } ]
        'begin': '(?&lt;!&lt;/(?:script|SCRIPT))(&gt;)'
        'end': '(&lt;/)((?i:script))'
      }
    ]
    'beginCaptures':
      '1': 'name': 'punctuation.definition.tag.begin.html'
      '2': 'name': 'entity.name.tag.script.html'
    'begin': '(?:^\s+)?(&lt;)((?i:script))\b(?=[^&gt;]*lang="coffee")'
    'name': 'source.coffee.embedded.html'
    'end': '(?&lt;=&lt;/(script|SCRIPT))(&gt;)(?:\s*\n)?'
  }
  {
    'endCaptures': '2': 'name': 'punctuation.definition.tag.html'
    'patterns': [
      { 'include': '#tag-stuff' }
      {
        'captures':
          '1': 'name': 'punctuation.definition.tag.begin.html'
          '2': 'name': 'entity.name.tag.script.html'
        'patterns': [
          {
            'captures': '1': 'name': 'punctuation.definition.comment.js'
            'name': 'comment.line.double-slash.js'
            'match': '(//).*?((?=&lt;/script)|$\n?)'
          }
          {
            'captures': '0': 'name': 'punctuation.definition.comment.js'
            'begin': '/\*'
            'name': 'comment.block.js'
            'end': '\*/|(?=&lt;/script)'
          }
          { 'include': 'source.js' }
        ]
        'begin': '(?&lt;!&lt;/(?:script|SCRIPT))(&gt;)'
        'end': '(&lt;/)((?i:script))'
      }
    ]
    'beginCaptures':
      '1': 'name': 'punctuation.definition.tag.begin.html'
      '2': 'name': 'entity.name.tag.script.html'
    'begin': '(?:^\s+)?(&lt;)((?i:script))\b(?![^&gt;]*/&gt;)'
    'name': 'source.js.embedded.html'
    'end': '(?&lt;=&lt;/(script|SCRIPT))(&gt;)(?:\s*\n)?'
  }
  {
    'captures':
      '1': 'name': 'punctuation.definition.tag.begin.html'
      '2': 'name': 'entity.name.tag.structure.any.html'
    'endCaptures': '1': 'name': 'punctuation.definition.tag.end.html'
    'patterns': [ { 'include': '#tag-stuff' } ]
    'begin': '(&lt;/?)((?i:body|head|html)\b)'
    'name': 'meta.tag.structure.any.html'
    'end': '(&gt;)'
  }
  {
    'endCaptures': '1': 'name': 'punctuation.definition.tag.end.html'
    'patterns': [ { 'include': '#tag-stuff' } ]
    'beginCaptures':
      '1': 'name': 'punctuation.definition.tag.begin.html'
      '2': 'name': 'entity.name.tag.block.any.html'
    'begin': '(&lt;/?)((?i:address|blockquote|dd|div|dl|dt|fieldset|form|frame|frameset|h1|h2|h3|h4|h5|h6|iframe|noframes|object|ol|p|ul|applet|center|dir|hr|menu|pre)\b)'
    'name': 'meta.tag.block.any.html'
    'end': '(&gt;)'
  }
  {
    'endCaptures': '1': 'name': 'punctuation.definition.tag.end.html'
    'patterns': [ { 'include': '#tag-stuff' } ]
    'beginCaptures':
      '1': 'name': 'punctuation.definition.tag.begin.html'
      '2': 'name': 'entity.name.tag.inline.any.html'
    'begin': '(&lt;/?)((?i:a|abbr|acronym|area|b|base|basefont|bdo|big|br|button|caption|cite|code|col|colgroup|del|dfn|em|font|head|html|i|img|input|ins|isindex|kbd|label|legend|li|link|map|meta|noscript|optgroup|option|param|q|s|samp|script|select|small|span|strike|strong|style|sub|sup|table|tbody|td|textarea|tfoot|th|thead|title|tr|tt|u|var)\b)'
    'name': 'meta.tag.inline.any.html'
    'end': '((?: ?/)?&gt;)'
  }
  {
    'endCaptures': '1': 'name': 'punctuation.definition.tag.end.html'
    'patterns': [ { 'include': '#tag-stuff' } ]
    'beginCaptures':
      '1': 'name': 'punctuation.definition.tag.begin.html'
      '2': 'name': 'entity.name.tag.other.html'
    'begin': '(&lt;/?)([a-zA-Z0-9:]+)'
    'name': 'meta.tag.other.html'
    'end': '(&gt;)'
  }
  { 'include': '#entities' }
  {
    'name': 'invalid.illegal.incomplete.html'
    'match': '&lt;&gt;'
  }
  {
    'name': 'invalid.illegal.bad-angle-bracket.html'
    'match': '&lt;'
  }
]
