'name': 'Vue Component'
'scopeName': 'text.html.vue'
'fileTypes': [
  'vue'
  'vue.html'
]
'firstLineMatch': '<!(?i:DOCTYPE)|<(?i:html)|<\\?(?i:php)'
'foldingStartMarker': '(?x)(<(?i:head|body|table|thead|tbody|tfoot|tr|div|select|fieldset|style|script|ul|ol|li|form|dl)\b.*?><!--(?!.*--\s*>)^<!--\ \#tminclude\ (?>.*?-->)$<\?(?:php)?.*\b(if|for(each)?|while)\b.+:\{\{?(if|foreach|capture|literal|foreach|php|section|strip)\{\s*($|\?>\s*$|//|/\*(.*\*/\s*$|(?!.*?\*/))))'
'foldingStopMarker': '(?x)(</(?i:head|body|table|thead|tbody|tfoot|tr|div|select|fieldset|style|script|ul|ol|li|form|dl)>^(?!.*?<!--).*?--\s*>^<!--\ end\ tminclude\ -->$<\?(?:php)?.*\bend(if|for(each)?|while)\b\{\{?/(if|foreach|capture|literal|foreach|php|section|strip)^[^{]*\})'
'keyEquivalent': '^~H'
'patterns': [
  {
    'endCaptures':
      '1': 'name': 'punctuation.definition.tag.end.html'
      '2': 'name': 'punctuation.definition.tag.begin.html meta.scope.between-tag-pair.html'
      '3': 'name': 'punctuation.definition.tag.begin.html'
      '4': 'name': 'entity.name.tag.html'
      '5': 'name': 'punctuation.definition.tag.end.html'
    'patterns': [ { 'include': '#tag-stuff' } ]
    'beginCaptures':
      '1': 'name': 'punctuation.definition.tag.begin.html'
      '2': 'name': 'entity.name.tag.html'
    'begin': '(<)([a-zA-Z0-9:]++)(?=[^>]*></\\2>)'
    'name': 'meta.tag.any.html'
    'end': '(>)(<)(/)(\\2)(>)'
  }
  {
    'captures':
      '1': 'name': 'punctuation.definition.tag.html'
      '2': 'name': 'entity.name.tag.xml.html'
    'patterns': [
      { 'include': '#tag-generic-attribute' }
      { 'include': '#string-double-quoted' }
      { 'include': '#string-single-quoted' }
    ]
    'begin': '(<\\?)(xml) '
    'name': 'meta.tag.preprocessor.xml.html'
    'end': '(\\?>)'
  }
  {
    'captures': '0': 'name': 'punctuation.definition.comment.html'
    'patterns': [
      {
        'name': 'invalid.illegal.bad-comments-or-CDATA.html'
        'match': '--'
      }
      { 'include': '#embedded-code' }
    ]
    'begin': '<!--'
    'name': 'comment.block.html'
    'end': '--\\s*>'
  }
  {
    'captures': '0': 'name': 'punctuation.definition.tag.html'
    'patterns': [
      {
        'captures': '1': 'name': 'entity.name.tag.doctype.html'
        'patterns': [ {
          'name': 'string.quoted.double.doctype.identifiers-and-DTDs.html'
          'match': '"[^">]*"'
        } ]
        'begin': '(?i:DOCTYPE)'
        'name': 'meta.tag.sgml.doctype.html'
        'end': '(?=>)'
      }
      {
        'begin': '\\[CDATA\\['
        'name': 'constant.other.inline-data.html'
        'end': ']](?=>)'
      }
      {
        'name': 'invalid.illegal.bad-comments-or-CDATA.html'
        'match': '(\\s*)(?!--|>)\\S(\\s*)'
      }
    ]
    'begin': '<!'
    'name': 'meta.tag.sgml.html'
    'end': '>'
  }
  {
    'captures':
      '1': 'name': 'punctuation.definition.tag.begin.html'
      '2': 'name': 'entity.name.tag.style.html'
      '3': 'name': 'punctuation.definition.tag.html'
    'patterns': [
      { 'include': '#tag-stuff' }
      {
        'patterns': [ { 'include': 'source.jade' } ]
        'begin': '(>)'
        'end': '(?=</(?i:template))'
        'beginCaptures': '1': 'name': 'punctuation.definition.tag.end.html'
      }
    ]
    'begin': '(?:^\\s+)?(<)((?i:template))\\b(?=[^>]*lang="jade")'
    'name': 'source.vue-jade.embedded.html'
    'end': '(</)((?i:template))(>)(?:\\s*\\n)?'
  }
  {
    'captures':
      '1': 'name': 'punctuation.definition.tag.begin.html'
      '2': 'name': 'entity.name.tag.style.html'
      '3': 'name': 'punctuation.definition.tag.html'
    'patterns': [
      { 'include': '#tag-stuff' }
      {
        'patterns': [ { 'include': 'source.pug' } ]
        'begin': '(>)'
        'end': '(?=</(?i:template))'
        'beginCaptures': '1': 'name': 'punctuation.definition.tag.end.html'
      }
    ]
    'begin': '(?:^\\s+)?(<)((?i:template))\\b(?=[^>]*lang="pug")'
    'name': 'source.vue-pug.embedded.html'
    'end': '(</)((?i:template))(>)(?:\\s*\\n)?'
  }
  {
    'captures':
      '1': 'name': 'punctuation.definition.tag.begin.html'
      '2': 'name': 'entity.name.tag.style.html'
      '3': 'name': 'punctuation.definition.tag.html'
    'patterns': [
      { 'include': '#tag-stuff' }
      {
        'patterns': [ { 'include': 'source.stylus' } ]
        'begin': '(>)'
        'end': '(?=</(?i:style))'
        'beginCaptures': '1': 'name': 'punctuation.definition.tag.html'
      }
    ]
    'begin': '(?:^\\s+)?(<)((?i:style))\\b(?=[^>]*lang="stylus")'
    'name': 'source.vue-stylus.embedded.html'
    'end': '(</)((?i:style))(>)(?:\\s*\\n)?'
  }
  {
    'captures':
      '1': 'name': 'punctuation.definition.tag.begin.html'
      '2': 'name': 'entity.name.tag.style.html'
      '3': 'name': 'punctuation.definition.tag.html'
    'patterns': [
      { 'include': '#tag-stuff' }
      {
        'patterns': [ { 'include': 'source.sass' } ]
        'begin': '(>)'
        'end': '(?=</(?i:style))'
        'beginCaptures': '1': 'name': 'punctuation.definition.tag.end.html'
      }
    ]
    'begin': '(?:^\\s+)?(<)((?i:style))\\b(?=[^>]*lang="postcss")'
    'name': 'source.postcss.embedded.html'
    'end': '(</)((?i:style))(>)(?:\\s*\\n)?'
  }
  {
    'captures':
      '1': 'name': 'punctuation.definition.tag.begin.html'
      '2': 'name': 'entity.name.tag.style.html'
      '3': 'name': 'punctuation.definition.tag.html'
    'patterns': [
      { 'include': '#tag-stuff' }
      {
        'patterns': [ { 'include': 'source.sass' } ]
        'begin': '(>)'
        'end': '(?=</(?i:style))'
        'beginCaptures': '1': 'name': 'punctuation.definition.tag.end.html'
      }
    ]
    'begin': '(?:^\\s+)?(<)((?i:style))\\b(?=[^>]*lang="(?:sass)")'
    'name': 'source.sass.embedded.html'
    'end': '(</)((?i:style))(>)(?:\\s*\\n)?'
  }
  {
    'captures':
      '1': 'name': 'punctuation.definition.tag.begin.html'
      '2': 'name': 'entity.name.tag.style.html'
      '3': 'name': 'punctuation.definition.tag.html'
    'patterns': [
      { 'include': '#tag-stuff' }
      {
        'patterns': [ { 'include': 'source.css.scss' } ]
        'begin': '(>)'
        'end': '(?=</(?i:style))'
        'beginCaptures': '1': 'name': 'punctuation.definition.tag.end.html'
      }
    ]
    'begin': '(?:^\\s+)?(<)((?i:style))\\b(?=[^>]*lang="(?:scss)")'
    'name': 'source.css.scss.embedded.html'
    'end': '(</)((?i:style))(>)(?:\\s*\\n)?'
  }
  {
    'captures':
      '1': 'name': 'punctuation.definition.tag.begin.html'
      '2': 'name': 'entity.name.tag.style.html'
      '3': 'name': 'punctuation.definition.tag.html'
    'patterns': [
      { 'include': '#tag-stuff' }
      {
        'patterns': [ { 'include': 'source.less' } ]
        'begin': '(>)'
        'end': '(?=</(?i:style))'
        'beginCaptures': '1': 'name': 'punctuation.definition.tag.end.html'
      }
    ]
    'begin': '(?:^\\s+)?(<)((?i:style))\\b(?=[^>]*lang="less")'
    'name': 'source.less.embedded.html'
    'end': '(</)((?i:style))(>)(?:\\s*\\n)?'
  }
  {
    'captures':
      '1': 'name': 'punctuation.definition.tag.begin.html'
      '2': 'name': 'entity.name.tag.style.html'
      '3': 'name': 'punctuation.definition.tag.html'
    'patterns': [
      { 'include': '#tag-stuff' }
      {
        'patterns': [
          { 'include': 'source.css' }
        ]
        'begin': '(>)'
        'end': '(?=</(?i:style))'
        'beginCaptures': '1': 'name': 'punctuation.definition.tag.end.html'
      }
    ]
    'begin': '(?:^\\s+)?(<)((?i:style))\\b(?![^>]*/>)'
    'name': 'source.css.embedded.html'
    'end': '(</)((?i:style))(>)(?:\\s*\\n)?'
  }
  {
    'endCaptures': '2': 'name': 'punctuation.definition.tag.html'
    'patterns': [
      { 'include': '#tag-stuff' }
      {
        'captures':
          '1': 'name': 'punctuation.definition.tag.begin.html'
          '2': 'name': 'entity.name.tag.script.html'
        'patterns': [ { 'include': 'source.coffee' } ]
        'begin': '(?<!</(?:script|SCRIPT))(>)'
        'end': '(</)((?i:script))'
      }
    ]
    'beginCaptures':
      '1': 'name': 'punctuation.definition.tag.begin.html'
      '2': 'name': 'entity.name.tag.script.html'
    'begin': '(?:^\\s+)?(<)((?i:script))\\b(?=[^>]*lang="coffee")'
    'name': 'source.coffee.embedded.html'
    'end': '(?<=</(script|SCRIPT))(>)(?:\\s*\\n)?'
  }
  {
    'endCaptures': '2': 'name': 'punctuation.definition.tag.html'
    'patterns': [
      { 'include': '#tag-stuff' }
      {
        'captures':
          '1': 'name': 'punctuation.definition.tag.begin.html'
          '2': 'name': 'entity.name.tag.script.html'
        'patterns': [
          {
            'captures': '1': 'name': 'punctuation.definition.comment.js'
            'name': 'comment.line.double-slash.js'
            'match': '(//).*?((?=</script)|$\\n?)'
          }
          {
            'captures': '0': 'name': 'punctuation.definition.comment.js'
            'begin': '/\\*'
            'name': 'comment.block.js'
            'end': '\\*/|(?=</script)'
          }
          { 'include': 'source.js' }
        ]
        'begin': '(?<!</(?:script|SCRIPT))(>)'
        'end': '(</)((?i:script))'
      }
    ]
    'beginCaptures':
      '1': 'name': 'punctuation.definition.tag.begin.html'
      '2': 'name': 'entity.name.tag.script.html'
    'begin': '(?:^\\s+)?(<)((?i:script))\\b(?![^>]*/>)'
    'name': 'source.js.embedded.html'
    'end': '(?<=</(script|SCRIPT))(>)(?:\\s*\\n)?'
  }
  {
    'captures':
      '1': 'name': 'punctuation.definition.tag.begin.html'
      '2': 'name': 'entity.name.tag.structure.any.html'
    'endCaptures': '1': 'name': 'punctuation.definition.tag.end.html'
    'patterns': [ { 'include': '#tag-stuff' } ]
    'begin': '(</?)((?i:body|head|html)\\b)'
    'name': 'meta.tag.structure.any.html'
    'end': '(>)'
  }
  {
    'endCaptures': '1': 'name': 'punctuation.definition.tag.end.html'
    'patterns': [ { 'include': '#tag-stuff' } ]
    'beginCaptures':
      '1': 'name': 'punctuation.definition.tag.begin.html'
      '2': 'name': 'entity.name.tag.block.any.html'
    'begin': '(</?)((?i:address|blockquote|dd|div|dl|dt|fieldset|form|frame|frameset|h1|h2|h3|h4|h5|h6|iframe|noframes|object|ol|p|ul|applet|center|dir|hr|menu|pre)\b)'
    'name': 'meta.tag.block.any.html'
    'end': '(>)'
  }
  {
    'endCaptures': '1': 'name': 'punctuation.definition.tag.end.html'
    'patterns': [ { 'include': '#tag-stuff' } ]
    'beginCaptures':
      '1': 'name': 'punctuation.definition.tag.begin.html'
      '2': 'name': 'entity.name.tag.inline.any.html'
    'begin': '(</?)((?i:a|abbr|acronym|area|b|base|basefont|bdo|big|br|button|caption|cite|code|col|colgroup|del|dfn|em|font|head|html|i|img|input|ins|isindex|kbd|label|legend|li|link|map|meta|noscript|optgroup|option|param|q|s|samp|script|select|small|span|strike|strong|style|sub|sup|table|tbody|td|textarea|tfoot|th|thead|title|tr|tt|u|var)\b)'
    'name': 'meta.tag.inline.any.html'
    'end': '((?: ?/)?>)'
  }
  {
    'endCaptures': '1': 'name': 'punctuation.definition.tag.end.html'
    'patterns': [ { 'include': '#tag-stuff' } ]
    'beginCaptures':
      '1': 'name': 'punctuation.definition.tag.begin.html'
      '2': 'name': 'entity.name.tag.other.html'
    'begin': '(</?)([a-zA-Z0-9:]+)'
    'name': 'meta.tag.other.html'
    'end': '(>)'
  }
  { 'include': '#entities' }
  {
    'name': 'invalid.illegal.incomplete.html'
    'match': '<>'
  }
  {
    'name': 'invalid.illegal.bad-angle-bracket.html'
    'match': '<'
  }
]
